body {
    background-color: #FFFFFF;
}

.top-header{
    background-color: inherit;
}

.container{
    background-color: #F0F8FF;
}

.nav-text-link {
    font-size: 1.5rem;
}


.navbar-light .navbar-nav .nav-link{
    color: black;
}

.main-content .container{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}